@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        color: snow;
        background-image: url("https://i.ibb.co/dGmJRcn/Pocetna-Stranica.png");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .Home-logo {
        margin-left: 20px;
        margin-top: 20px;
        float:left;
    }
    .Text{
        width:67%;     
        height:50%;
        float:left;
        margin-top:20%;
        text-align:center;
    }
</style>


    <div class="Home-logo">
        <img style="height:6em" src="https://i.ibb.co/n0bPk5B/logo-movie-removebg-preview.png" /><br />
        <img style="margin-left: 28px;margin-top:30px" src="https://i.ibb.co/7pZzW4m/icons8-home-50.png" alt="Home page"/><br />
        <p style="text-decoration-color:white;margin-left:30px;margin-top:5px;font-size:large">Home page</p>
        <img style="margin-left: 28px" src="https://i.ibb.co/1TzPdFB/list-icon.png" alt="Recommended page" /><br />
        <p style="text-decoration-color:white;margin-left:30px;margin-top:5px;font-size:large">Recommended page</p>
        <img style="margin-left: 28px" src="https://i.ibb.co/GtcPpg8/playlist.png" />
        <p style="text-decoration-color:white;margin-left:30px;margin-top:5px;font-size:large">Collections</p>
    </div>

    <div class="Text">
        <h1 style="font-size:5vw">Welcome!</h1><br />
        <input style="width:300px" type="text" placeholder="Search..">
    </div>
 


