@{
    ViewData["Title"] = "About Us";
}
<style>
    .Text{
        width:100%;     
        height:100%;
        float:right;
        margin-top:5%;
        margin-bottom:2%;
        text-align:center;
         margin-left:10%;
        margin-right:5%;
       
    }
    table {
 
        border-collapse: separate;
        border-spacing: 0 15px;
        margin-left:40%;
        margin-right:auto;
        

      }
      td {
        width: 150px;
        text-align: left;
        
        padding: 5px;
      }
      img{
           margin-bottom:2%;
           margin-left:6%;
          
      }
  
      


</style>


 <div class="Text">
       <img src="~/lib/images/red_dot2.png"  ><font size="+4"><u>About Us</font> </u>
       
    
    
    </div>

<p style="width:100%; text-align:justify;"><b>MyMovieLibrary</b> je aplikacija koja omogućava korisniku kreiranje vlastitog dnevnika filmova, koji obezbjeđuje njihovo jednostavno organizovanje, upravljanje i pretraživanje. Sistem je od koristi za sve ljubitelje filmova koji će sa MyMovieLibrary moći brzo pronaći bilo koji film u svojoj biblioteci, podijeliti omiljene i pratiti i ocjenjivati pregledane. Korisnicima je na raspolaganju širok spektar filmova sa svim glavnim informacijama na osnovu kojih biramo sljedeći film za gledati.</p>


<table>
 
  <tr>
    <th>Phone</th>
    <th>Address</th>
  </tr>
  <tr>
    <td>123-456-7890</td>
    <td>Malta BB 
    </td>
  </tr>
 
</table>

<table>
  <tr>
    <th>Email</th>
    <th>City</th>
  </tr>
  <tr>
   
    <td
    style="color: #ff0000">santeam@gmail.com </td>
    <td>Ljubljana
    </td>
  </tr>
 
</table>

<table>
  <tr>
    <th>Social</th>
     <th></th>
  </tr>
  <tr>
    <td
    style="color: #ff0000">Twitter  Facebook</td>
    <td></td>
    </td>
  </tr>
 
</table>