@model IEnumerable<Implementacija.Models.Film>

@{
    ViewData["Title"] = "Recommended page";
}

<h1>Recommended page</h1>

<style>
    .Movie{
        width:20%;
        float:left;
    }
</style>

@foreach (var item in Model)
{
    <div class="Movie">
        <img style="height:300px" src="@item.Slika">
    </div>
}

